@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

:root{
  --Playfair: 'Playfair Display', serif;
  --Quicksand: 'Quicksand', sans-serif;
  --Roboto: 'Roboto', sans-serif;
  --dark: #3c393d;
  --exDark: #2b2b2b;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--Quicksand);
}

.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

/* Header styling start */
header{
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), center/cover no-repeat fixed;
  background-size: auto;
}
.navbar{
  background: rgba(0, 0, 0, 0.6);
  padding: 1.2rem;
}
.navigation{
  display: flex;
  justify-content: space-between;
}
.navigation .logo a{
  color: #fff;
  font-size: 2rem;
  display: block;
  text-decoration: none;
  font-family: var(--Playfair);
  letter-spacing: 1px;
}
.navbar-nav{
  padding: 0.8rem 0 0.2rem 0;
}
.navbar-nav a{
  text-transform: uppercase;
  font-family: var(--Roboto);
  letter-spacing: 3px;
  font-weight: 500;
  color: #ffff;
  text-decoration: none;
  display: inline-block;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
  opacity: 0.7;
}

/* End of footer styling */